<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543099538870-0k46pombjgbn86iklnec1n0umirtc0td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543099538870-0k46pombjgbn86iklnec1n0umirtc0td</string>
	<key>API_KEY</key>
	<string>AIzaSyDazLHch102c2Aw8duDkGe5Ft6LHstC0x4</string>
	<key>GCM_SENDER_ID</key>
	<string>543099538870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeremybenson.speedbutton</string>
	<key>PROJECT_ID</key>
	<string>speed-button</string>
	<key>STORAGE_BUCKET</key>
	<string>speed-button.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543099538870:ios:76b68fd366502953a04517</string>
</dict>
</plist>